html
  head
    title #{title}
  body
    h3 Hyper #{account} Logins
    br
    form(method='post', action=path)
      | Username:
      input(type='text', name='username')
      br
      | Password:
      input(type='password', name='password')
      br
      input(type='hidden', name='next', value=nextUrl)
      input(type='submit', value='Login')
    h4 #{message}
